{{#with notice}}
<div class="notice grid-x grid-margin-x" data-notice="{{num}}">
	<h2>{{title}}</h2>
	<div class="info cell grid-x">
		<div class="author cell small-6">
			<span class="float-left subheader">{{user}}</span>
		</div>
		<div class="date cell small-6">
			<span class="float-right subheader">{{createDate}}</span>
		</div>
	</div>
	<hr class="cell">
	<div class="contents cell">{{{contents}}}</div>
</div>
{{/with}}